<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BoardMeet</title>
  <link rel="stylesheet" href="loginregister.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <h1 class="gmeet-heading">BOARDMEET</h1>
  <div class="container-custom">
    <div class="authentication-form">
      <h2>REGISTER</h2>
      <form action="/register" method="POST" class="form-box">
        <div class="form-group">
          <div class="textori">
            <label for="name">Name</label>
          </div>
          <input type="text" id="name" name="name" placeholder="Enter your name" required>
        </div>
        <div class="form-group">
          <div class="textori">
            <label for="email">Email</label>
          </div>
          <input type="text" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="form-group">
          <div class="passwordori">
            <label for="password">Password</label>
          </div>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>
        </div>
        <input type="submit" class="submit-button">
      </form>
      <div class="register-link">
        <p>Already registered?</p>
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  const msg = "<%=msg%>";
  if (msg) alert(msg);
</script>
</html>
