<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoardMeet</title>
    <link rel="stylesheet" href="verify.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
    <div class="container-custom">
        <div class="authentication-form">
            <h1>Verify</h1>
            <form action = "/verify" method = "POST" class="form-box">
                <p class="textori">Code sent to Email ID. Check your spam folder.</p>
                <div class="form-group">
                    <input type="text" id="code" name="code" placeholder="Enter verification code" required>
                  </div>
                <button type = "submit" class="submit-button">Verify</button>
            </form>
        </div>
    </div>
</body>
<script type="text/javascript">
    const msg = "<%=msg%>";
    if (msg)
    {
        alert(msg);
    }
</script>
</html>